
#home {
    height: 650px;
    padding: 50px 0;
    background-color: azure;
}
nav {
    justify-content: space-around;
    padding: 20px 0;
    display: flex;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30%;
}

nav ul li a{
    text-decoration: none;
    color: rgb(red, green, blue);
}
.nama {
    font-family: 'Roboto Mono', monospace;
}
.text1 {
    margin-top: 220px;
}
.animasi {
    margin-top: 150px;
    margin-bottom: 250px;
}
.text4{
    margin-left: 120px;
}
.text5{
    margin-top: 300px;
}
.pramuka {
    margin-top: 100px;
    margin-bottom: 50px;
}
.form{
    font-weight: bold;
    padding: 20px 0;
    margin-left: 90px;
    margin-right: 90px;
}
.btn {
    margin-left: 1035px;
}
#pengalaman{
    background-color: azure;
}
.text6{
    padding: 80px;
}
.image{
    margin-top: 60px;
    width: 500px;
    height: 500px;
}